{% extends 'base.html' %} {% block content %}

<h2>
  <i
    class="fa-solid fa-sm fa-folder-open"
    style="color: rgba(0, 2, 43, 0.774)"
  ></i>
  Open Records
</h2>

<a href="{% url 'borrow_book' %}"
  ><button>
    <i
      class="fa-brands fa-sm fa-get-pocket"
      style="color: rgb(255, 255, 255)"
    ></i>
    Borrow Book
  </button></a
>

<table border="1">
  <tr>
    <th>Borrow_ID</th>
    <th>User</th>
    <th>Book</th>
    <th>Author</th>
    <th>Issue Date</th>
    <th>Fine</th>
    <th>Actions</th>
  </tr>

  {% for record in open_records %}
  <tr>
    <td>{{record.id}}</td>
    <td>{{ record.user }}</td>
    <td>{{ record.book }}</td>
    <td>{{record.book.author}}</td>
    <td>{{ record.issue_date|date:"d-m-Y" }}</td>
    <td>
      {% if record.fine > 0 %}
      <span style="color: red">₹ {{ record.fine|floatformat:2 }}</span>
      {% else %}
      <span style="color: green">₹ 0.00</span>
      {% endif %}
    </td>
    <!-- <td>{{record.fine}}</td> -->
    <td>
      <a
        class="return-btn-green {% if record.fine > 0 %}return-btn-red{% endif %}"
        href="{% url 'return_book' record.id %}"
        onclick="return confirm('Are you sure you want to Return this Book?');"
      >
        {% if record.fine > 0 %} Return and Pay {% else %} Return {% endif %}
      </a>
      <a href="{% url 'record_detail' record.id %}"
        ><i class="fa-solid fa-eye" style="color: rgb(0, 129, 230)"></i
      ></a>
    </td>
  </tr>
  {% endfor %}
</table>

<script>
  /**
  function openReturnModal(modalId) {
      document.getElementById(modalId).style.display = 'block';
  }
  
  function closeReturnModal(modalId) {
      document.getElementById(modalId).style.display = 'none';
  }
  
  window.onclick = function(event) {
      const modals = document.getElementsByClassName('return-modal');
      for (let i = 0; i < modals.length; i++) {
          if (event.target === modals[i]) {
              modals[i].style.display = 'none';
          }
      }
  };
  */
</script>

{% endblock %}
